body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.hero-section {
    background: linear-gradient(to right, #007bff, #6610f2);
    color: white;
    padding: 50px 0;
}

.result-card {
    display: none;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.result-card img {
    width: 100px;
    margin-bottom: 10px;
}
